<!-- FOOTER -->

<footer class="bg-dark text-white py-5">

  <div class="container">

    <div class="row">

      <div class="col-lg-4">

        <h5>Male fashion.</h5>

        <p class="small text-muted">
          The customer is at the heart of
          our unique business model,
          which includes design.
        </p>

      </div>


      <div class="col-lg-2">

        <h6>Shopping</h6>

        <ul class="list-unstyled small">

          <li>Clothing Store</li>
          <li>Trending Shoes</li>
          <li>Accessories</li>
          <li>Sale</li>

        </ul>

      </div>


      <div class="col-lg-2">

        <h6>Shopping</h6>

        <ul class="list-unstyled small">

          <li>Contact Us</li>
          <li>Payment Methods</li>
          <li>Delivery</li>
          <li>Return & Exchanges</li>

        </ul>

      </div>


      <div class="col-lg-4">

        <h6>Newsletter</h6>

        <input class="form-control" placeholder="Your email">

      </div>

    </div>

  </div>

</footer>
