<!-- FOOTER -->
<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="fw-bold fs-3">
          <span class="text-danger">Male</span> fashion<span class="text-danger">.</span>
        </h3>
        <p class="small text-danger">
          Khách hàng là trung tâm trong
          mô hình kinh doanh độc đáo của chúng tôi,
          bao gồm cả khâu thiết kế.
        </p>
      </div>

      <div class="col-lg-2">
        <h6>Mua sắm</h6>
        <ul class="list-unstyled small">
          <li>Cửa hàng quần áo</li>
          <li>Giày đang thịnh hành</li>
          <li>Phụ kiện</li>
          <li>Khuyến mãi</li>
        </ul>
      </div>

      <div class="col-lg-2">
        <h6>Hỗ trợ</h6>
        <ul class="list-unstyled small">
          <li>Liên hệ với chúng tôi</li>
          <li>Phương thức thanh toán</li>
          <li>Giao hàng</li>
          <li>Đổi & Trả hàng</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h6>Bản tin</h6>
        <input class="form-control" placeholder="Nhập email của bạn">
      </div>
    </div>
  </div>
</footer>
