<div class="container-fluid p-4">

  <h4 class="fw-bold mb-4">Thêm danh mục</h4>

  <div class="card p-4 shadow-sm">

    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

      <!-- TÊN -->
      <div class="mb-3">
        <label class="form-label">Tên danh mục</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên danh mục">

        <!-- validate -->
        @if (isInvalid('name')) {
        <small class="text-danger">
          Tên phải có ít nhất 3 ký tự
        </small>
        }
      </div>

      <!-- DANH MỤC CHA -->
      <div class="mb-3">
        <label class="form-label">Danh mục cha</label>

        <select class="form-select" formControlName="parent_id">
          <option [ngValue]="null">Không có</option>

          @for (c of categories(); track c.id) {
          @if (!c.parent_id) {
          <option [ngValue]="c.id">
            {{ c.name }}
          </option>
          }
          }
        </select>
      </div>

      <!-- STATUS -->
      <div class="mb-3">
        <label class="form-label">Trạng thái</label>

        <select class="form-select" formControlName="status">
          <option [ngValue]="true">Hoạt động</option>
          <option [ngValue]="false">Ẩn</option>
        </select>
      </div>

      <!-- BUTTON -->
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-success">
          Thêm mới
        </button>

        <button type="button" class="btn btn-secondary" (click)="goToCategory()">
          Quay lại
        </button>
      </div>

    </form>

  </div>

</div>