<div class="sidebar">

  <!-- BRAND -->
  <div class="brand">
    <i class="bi bi-bootstrap-fill"></i>
    <span class="brand-text">Mendover Admin</span>
  </div>

  <!-- USER -->
  <div class="user">
    <img src="https://i.pravatar.cc/100" alt="user">
    <div class="user-info">
      <small class="role">Quản trị viên</small>
    </div>
  </div>

  <!-- MENU -->
  <ul class="menu">

    <li routerLink="/admin/dashboard" routerLinkActive="active">
      <i class="bi bi-speedometer2"></i>
      <span>Bảng điều khiển</span>
    </li>

    <li routerLink="/admin/category" routerLinkActive="active">
      <i class="bi bi-tags"></i>
      <span>Danh mục</span>
    </li>

    <li routerLink="/admin/product" routerLinkActive="active">
      <i class="bi bi-box"></i>
      <span>Sản phẩm</span>
    </li>
    <li routerLink="/admin/comment" routerLinkActive="active">
      <i class="bi bi-chat-dots"></i>
      <span>Quản lý bình luận</span>
    </li>

    <li routerLink="/admin/order" routerLinkActive="active">
      <i class="bi bi-receipt"></i>
      <span>Đơn hàng</span>
    </li>

    <li routerLink="/admin/user" routerLinkActive="active">
      <i class="bi bi-people"></i>
      <span>khách hàng</span>
    </li>

  </ul>

</div>