<div class="container-fluid">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="col-md-2 bg-white border-end vh-100">

      <div class="p-3 border-bottom">
        <h5 class="fw-bold text-danger">
          <i class="bi bi-box-seam"></i> InApp
        </h5>
      </div>

      <ul class="nav flex-column p-2">

        <li class="nav-item mb-2">
          <a class="nav-link text-danger bg-danger-subtle rounded" href="#">
            <i class="bi bi-house"></i> Dashboard
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-box"></i> Inventory
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-plus"></i> Add Product
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-bar-chart"></i> Reports
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-exclamation-circle"></i> 404 Error
          </a>
        </li>

        <li class="nav-item mb-4">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-file-text"></i> Docs
          </a>
        </li>

        <hr>

        <li class="nav-item mb-2">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-box-arrow-in-right"></i> Log in
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="#">
            <i class="bi bi-person-plus"></i> Sign up
          </a>
        </li>

      </ul>
    </div>
