<div class="container mt-5">
  <div class="card shadow-sm border-0 p-4">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <!-- TITLE -->
        <div class="col-12 mb-4">
          <label class="form-label">Tiêu đề <span class="text-danger">*</span></label>
          <input type="text" class="form-control"
            formControlName="title"
            placeholder="Nhập tiêu đề"
            [class.is-invalid]="isInvalid('title')">

          @if (isInvalid('title')) {
            <div class="invalid-feedback">
              @if (blogForm.get('title')?.hasError('required')) { Không được để trống }
              @if (blogForm.get('title')?.hasError('minlength')) { Tối thiểu 3 ký tự }
            </div>
          }
        </div>

        <!-- IMAGE -->
        <div class="col-12 mb-4">
          <label class="form-label">Ảnh bài viết</label>
          <app-image-upload (imagesChanged)="handleImagesUpdate($event)"></app-image-upload>
        </div>
        <!-- CONTENT CKEDITOR -->
        <div class="col-12 mb-4">
          <label class="form-label">Nội dung <span class="text-danger">*</span></label>

          <!-- CKEditor FIX -->
          <ckeditor
            *ngIf="isEditorReady"
            [editor]="Editor"
            formControlName="content">
          </ckeditor>

          @if (isInvalid('content')) {
            <div class="invalid-feedback d-block">
              @if (blogForm.get('content')?.hasError('required')) { Không được để trống }
              @if (blogForm.get('content')?.hasError('maxlength')) {
                Nội dung quá dài!
              }
            </div>
          }
        </div>

      </div>

      <div class="mt-3">
        <button class="btn btn-success me-2">Thêm bài viết</button>
        <button type="button" class="btn btn-secondary" (click)="blogForm.reset()">Hủy</button>
      </div>

    </form>
  </div>
</div>
